---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

/* Bluesky icon (WebP) */
.social-webp-icon {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: -0.125em;
}
