---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title"> Welcome! </h1>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
                  <h3> {{ site.actitle }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }} </h3>
                  <ul class="bio">
                    {% if page.profile.location %}
                        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ page.profile.location }}</li>
                    {% endif %}
                    {% if page.profile.employer %}
                        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ page.profile.employer }}</li>
                    {% endif %}
                    {% if page.profile.uri %}
                        <li><a class="bio" href="{{ page.profile.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> Website </a></li>
                    {% endif %}
                    {% if page.profile.email %}
                        <li><a class="bio" href="mailto:{{ page.profile.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email </a></li>
                    {% endif %}
                    {% if page.profile.keybase %}
                        <li><a class="bio" href="https://keybase.io/{{ page.profile.keybase }}"><i class="fas fa-fw fa-key" aria-hidden="true"></i> Keybase</a></li>
                    {% endif %}
                     {% if page.profile.researchgate %}
                        <li><a class="bio" href="{{ page.profile.researchgate }}"><i class="fab fa-fw fa-researchgate" aria-hidden="true"></i> ResearchGate</a></li>
                    {% endif %}
                    {% if page.profile.twitter %}
                        <li><a class="bio" href="https://twitter.com/{{ page.profile.twitter }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
                    {% endif %}
                    {% if page.profile.facebook %}
                        <li><a class="bio" href="https://www.facebook.com/{{ page.profile.facebook }}"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                    {% endif %}
                    {% if page.profile.google_plus %}
                        <li><a class="bio" href="https://plus.google.com/+{{ page.profile.google_plus }}"><i class="fab fa-fw fa-google-plus" aria-hidden="true"></i> Google+</a></li>
                    {% endif %}
                    {% if page.profile.linkedin %}
                        <li><a class="bio" href="https://www.linkedin.com/in/{{ page.profile.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
                    {% endif %}
                    {% if page.profile.xing %}
                        <li><a class="bio" href="https://www.xing.com/profile/{{ page.profile.xing }}"><i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING</a></li>
                    {% endif %}
                    {% if page.profile.instagram %}
                        <li><a class="bio" href="https://instagram.com/{{ page.profile.instagram }}"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                    {% endif %}
                    {% if page.profile.tumblr %}
                        <li><a class="bio" href="https://{{ page.profile.tumblr }}.tumblr.com"><i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i> Tumblr</a></li>
                    {% endif %}
                    {% if page.profile.bitbucket %}
                        <li><a class="bio" href="https://bitbucket.org/{{ page.profile.bitbucket }}"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
                    {% endif %}
                    {% if page.profile.github %}
                        <li><a class="bio" href="https://github.com/{{ page.profile.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
                    {% endif %}
                    {% if page.profile.stackoverflow %}
                        <li><a class="bio" href="https://www.stackoverflow.com/users/{{ page.profile.stackoverflow }}"><i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i> Stackoverflow</a></li>
                    {% endif %}
                    {% if page.profile.lastfm %}
                        <li><a class="bio" href="https://lastfm.com/user/{{ page.profile.lastfm }}"><i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i> Last.fm</a></li>
                    {% endif %}
                    {% if page.profile.dribbble %}
                        <li><a class="bio" href="https://dribbble.com/{{ page.profile.dribbble }}"><i class="fab fa-fw fa-dribbble-square" aria-hidden="true"></i> Dribbble</a></li>
                    {% endif %}
                    {% if page.profile.pinterest %}
                        <li><a class="bio" href="https://www.pinterest.com/{{ page.profile.pinterest }}"><i class="fab fa-fw fa-pinterest" aria-hidden="true"></i> Pinterest</a></li>
                    {% endif %}
                    {% if page.profile.foursquare %}
                        <li><a class="bio" href="https://foursquare.com/{{ page.profile.foursquare }}"><i class="fab fa-fw fa-foursquare" aria-hidden="true"></i> Foursquare</a></li>
                    {% endif %}
                    {% if page.profile.steam %}
                        <li><a class="bio" href="https://steamcommunity.com/id/{{ page.profile.steam }}"><i class="fab fa-fw fa-steam-square" aria-hidden="true"></i> Steam</a></li>
                    {% endif %}
                    {% if page.profile.youtube %}
                        <li><a class="bio" href="https://www.youtube.com/user/{{ page.profile.youtube }}"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>
                    {% endif %}
                    {% if page.profile.soundcloud %}
                        <li><a class="bio" href="https://soundcloud.com/{{ page.profile.soundcloud }}"><i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> Soundcloud</a></li>
                    {% endif %}
                    {% if page.profile.weibo %}
                        <li><a class="bio" href="https://www.weibo.com/{{ page.profile.weibo }}"><i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo</a></li>
                    {% endif %}
                    {% if page.profile.flickr %}
                        <li><a class="bio" href="https://www.flickr.com/{{ page.profile.flickr }}"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr</a></li>
                    {% endif %}
                    {% if page.profile.codepen %}
                        <li><a class="bio" href="https://codepen.io/{{ page.profile.codepen }}"><i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen</a></li>
                    {% endif %}
                    {% if page.profile.vine %}
                        <li><a class="bio" href="https://vine.co/u/{{ page.profile.vine }}"><i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine</a></li>
                    {% endif %}
                    {% if page.profile.googlescholar %}
                        <li><a class="bio" href="{{ page.profile.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
                    {% endif %}
                    {% if page.profile.pubmed %}
                        <li><a class="bio" href="{{ page.profile.pubmed }}"><i class="ai ai-pubmed-square ai-fw"></i> PubMed</a></li>
                    {% endif %}
                    {% if page.profile.orcid %}
                        <li><a class="bio" href="{{ page.profile.orcid }}"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
                    {% endif %}
                    {% if page.profile.impactstory %}
                        <li><a class="bio" href="{{ page.profile.impactstory }}"><i class="ai ai-impactstory ai-fw"></i> Impactstory</a></li>
                    {% endif %}
                    {% if page.profile.wikipedia %}
                        <li><a class="bio" href="https://en.wikipedia.org/wiki/User:{{ page.profile.wikipedia }}"><i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i> Wikipedia</a></li>
                  {% endif %}
            </ul>
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">Most Recent News</a></h2>
            An overview of all news can be found at <a href="{{ '/news/' | relative_url }}" >here</a>.
            {%- include news.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}
              
          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>
              
            </div>
          {%- endif %}
        </article>

</div>
